default:
  tags:
    - shell-runner
stages:
  - test
  - security
  - cache
  - build

Unit tests:
  stage: test
  script:
    - echo "Running unit tests"
    - python3 tests/unit/test_app.py

Integration tests:
  stage: test
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .cache
  before_script:
    - pip install --cache-dir .cache -r requirements.txt # installing all dependecies from requirements.txt instead of direct pytest==8.x.x to avoid future dependencies issues and reusing cache
  script:
    - echo "Running integration tests"
    - echo "The MONGO_URI env is $MONGO_URI"
    - echo "The MONGO_TEST_DB (should be masked) env is $MONGO_TEST_DB"
    - echo "The MONGO_TEST_COLLECTION (should be masked) env is $MONGO_TEST_COLLECTION"
    - pytest tests/integration/test_mongodb.py -v

Lint the code:
  stage: test
  tags:
    - docker-runner
  image: python:3.11-slim
  cache:
    key: ${CI_COMMIT_REF_SLUG}-lint
    paths:
      - .cache
  before_script:
    - pip install --cache-dir .cache flake8==7.3.0
  script:
    - flake8 ./src/app.py

Check dependencies vulnarabilities:
  stage: security
  tags:
    - docker-runner
  image: python:3.11-slim
  cache:
    key: ${CI_COMMIT_REF_SLUG}-safety
    paths:
      - .cache
  before_script:
    - pip install --cache-dir .cache safety==3.5.2
  script:
    - safety scan

Cache dependencies:
  stage: cache
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .cache
  script:
    - echo "Caching dependencies"
    - pip install --cache-dir .cache -r requirements.txt

Build Docker image:
  stage: build
  before_script:
    - echo "Logging in to Docker registry"
    - docker login -u $DOCKERHUB_USER -p $DOCKERHUB_PASS
  script:
    - echo "Building Docker image"
    - docker build -t latifik2/posts-feed:latest .
    - docker push latifik2/posts-feed:latest