default:
  tags:
    - shell-runner
stages:
  - test
  - cache
  - build

Unit tests:
  stage: test
  script:
    - echo "Running unit tests"
    - python3 tests/test_app.py

Cache dependencies:
  stage: cache
  # tags:
  #   - docker-runner
  # image: python:3.11
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .cache
  script:
    - echo "Caching dependencies"
    - pip install --cache-dir .cache -r requirements.txt

Build Docker image:
  stage: build
  before_script:
    - echo "Logging in to Docker registry"
    - docker login -u $DOCKERHUB_USER -p $DOCKERHUB_PASS
  script:
    - echo "Building Docker image"
    - docker build -t latifik2/posts-feed:latest .
    - docker push latifik2/posts-feed:latest