services:
  gitlab:
    image: gitlab/gitlab-ee:17.9.0-ee.0
    container_name: gitlab
    restart: always
    hostname: 'gitlab-latif.ru'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        # Add any other gitlab.rb configuration here, each on its own line
        external_url 'https://gitlab-latif.ru'
      GITLAB_HOME: ./gitlab-data
    ports:
      - '80:80'
      - '443:443'
      - '22:22'
    volumes:
      - './config:/etc/gitlab'
      - './logs:/var/log/gitlab'
      - './data:/var/opt/gitlab'
    shm_size: '256m'